* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,225,252,1) 100%); */
    background-image: url(https://images8.alphacoders.com/418/thumb-1920-418516.jpg);
    background-size: cover;
    background-position: center;
    border: 20px;
}
  
  section {
    display: grid;
    grid-template-rows: repeat(4, 10rem);
    grid-template-columns: repeat(4, 10rem);
    perspective: 800px;
    grid-gap: 2rem;
  }
  
  .back {
    background-image: url(images/cardfront.jpeg);
    justify-content: center;
  }
  
  .face,
  .back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .card {
    transform-style: preserve-3d;
    transition: transform 1s;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .toggleCard {
    transform: rotateY(180deg);
  }

  h1 {
      font-family: 'Mochiy Pop One', sans-serif;
      font-size: 30px;
      position: absolute;
      top: 5px
  }

  h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 10px;
    right: 20px;
}

#reset {
  background-color:#e60b5f;
  color: white;
  font-size: 2ex;
  font-weight: bolder;
  font-size: 20pt;
  height:50px;
  width: 250px;
  border: 5px black;
  margin: auto;
  display: flex;
  border-radius: 10px;
  display: block;
  justify-content: center;
}

.reset-container {
  position: absolute;
  bottom: 0;
}